* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 22px/1.5 "SAIBA-45-Regular",Arial, Helvetica, sans-serif;
  background: url("../img/background.jpg");
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact_block {
  background: #fff;
  width: 550px;
  height: 270px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-shadow: 8px -5px gray;
  box-shadow: 8px -5px gray;
}

.contact_block h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact_block p {
  margin: 0;
  text-align: center;
}

.contactLinks {
  width: 30%;
  height: 80px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactLinks a {
  height: 60px;
  width: 60px;
}

.contactLinks a img {
  width: 100%;
}

@font-face {
  font-family: "SAIBA-45-Regular";
  src: url("../font/SAIBA-45-Regular-\(v1.1\).ttf");
}

.titles {
  text-transform: uppercase;
}

.news {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@supports (-webkit-appearance:none) {
  body {
    background-image: url("../img/background.webp");
  }
}

@media (max-width: 700px) {
  .contact_block {
    background-color: darkgray;
  }

  .titles {
    background-color: red;
  }

  .news {
    background-color: white;
    color: black;
  }

@supports (-webkit-appearance:none) {

}
}